---
layout: default

---

{% assign sorted_news = site.data.news | sort: 'date' | reverse %}

<div class="row">
  <div class="col-sm-12">
    <h3>The Ubiquitous Computing Lab develops innovative sensing systems for real world applications in <b>health</b>, <b>sustainability</b>, and <b>novel interactions</b>.</h3>
  </div>
  
</div>

<div class="row">
  <div class="col-md-8">

    <ul class="bxslider">
      <li><a href="{{site.base_url}}/pdfs/lab/ubicomplab-flyer.pdf"><img src="{{site.base_url}}/images/slider/poster_banner.png" title=""/></a></li>
      <li><a href="{{site.base_url}}/publications/hemaapp"><img src="{{site.base_url}}/images/slider/hemaapp.png" title="HemaApp screens for anemia and other blood conditions using the camera on a smartphone. "/></a></li>
      <li><a href="{{site.base_url}}/publications/bilicam"><img src="{{site.base_url}}/images/slider/bilicam.jpg" title="BiliCam uses a smartphone to screen newborns for jaundice."/></a></li>
      <li><a href="{{site.base_url}}/publications/spirocall"><img src="{{site.base_url}}/images/slider/spirocall.jpg" title="SpiroCall enables lung function estimation using the microphone on any mobile phone."/></a></li>
      <li><a href="{{site.base_url}}/pdfs/lab/ubicomplab-health.pdf"><img src="{{site.base_url}}/images/slider/health_banner.png" title=""/></a></li>
      
    </ul>
  </div>
  
  <div class="col-md-4 news">
    <h2>News</h2>
    <ul>
    {% for news in sorted_news limit:5 %}
      <li><div class="date">{{ news.date | date: '%B %d, %Y' }}:</div>
        <div class="blurb">
          {% if news.url == nil %}
          {{ news.blurb }}
          {% else %}
          <a href="{{ news.url }}">{{ news.blurb }}</a>
          {% endif %}
          </div></li>
    {% endfor %}
    </ul>
    <a href="{{site.base_url}}/news/">(More news...)</a>
  </div>
  
  
</div>

<div class="row">
  <div class="col-xs-12">
The ubiquitous computing (UbiComp) research lab, led by Prof. Shwetak Patel, focuses on many areas of ubiquitous computing including novel user interface technology, energy sensing, low-power sensing, health sensing, and activity recognition by applying expertise in sensing, signal processing, embedded systems, circuits, and human-computer interaction.
The UbiComp lab consists of an interdisciplinary team of students (CSE, EE, ME, Medicine, etc) to tackle challenging research problems both from building the enabling hardware and software systems to the deployment and evaluation of these technologies in real-world settings. We collaborate very closely with UW Professors: Matt Reynolds (EE, CSE), Josh Smith (EE, CSE), Yoshi Kohno (CSE), James Fogarty (CSE), and Les Atlas (EE). In addition, we have close collaborations with Microsoft Research, Oculus Research, Intel, Google, and many other companies.
    </div>
</div>

<script>
$(document).ready(function(){

  $('.bxslider').bxSlider({
    adaptiveHeight: false,
    speed: 500,
    captions: true,
    auto: true,
    pause: 5000,
    autoControls: true
    });
});
</script>
