
@media (min-width: $screen-md-min){
.member-badge.col-md-2:nth-child(4n+1) {
    clear: both;
}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
.member-badge.col-sm-3:nth-child(4n+1) {
    clear: both;
}
}
@media (max-width: $screen-xs-max){
.member-badge.col-xs-4:nth-child(3n+1) {
    clear: both;
}
}

.member-badge {
  display: block;
  margin-bottom: 20px;
  .image {
    img {
      width:100%;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      border-bottom: 3px solid #eee; 
      &:hover {
        border-bottom: 3px solid rgb(191,0,0); 
      }
    }
  }
  .details {
    font-size: 11pt;
    word-break: break-word;
    .name {
      font-size: 16pt;
      display: block;
    }
    .email{
    margin-top:5px;
    font-size: 10pt;
    font-color: gray;
    }
    .affiliation,.degree {
    font-size: 10pt;
    }
  
  }
  a {
    color: $darkGray;
    text-decoration: none;
    &:hover {
      color: #666;
    }
  }
  
  
}
