---
layout: page
---

{% assign sorted_members = site.data.members | sort: 'id' %}
{% assign current_members = sorted_members | where:"status","current" %}
{% assign alumni = sorted_members | where:"status","alumni" %}
{% assign sorted_pubs = site.publications | sort: 'date' | where_exp:"pub","pub.award.size > 0 " %}




<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="fellowshipsH">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fellowships" aria-expanded="true" aria-controls="fellowships">
        <h2>Awards and Distinctions</h2>
      </a>
    </h4>
  </div>
  <div id="fellowships" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fellowshipsH">
    <div class="panel-body">
      {% for award in site.data.fellowships %}
      {% if award.url.size > 0 %}<a href="{{ award.url }}">{% endif %}{{ award.name }}{% if award.url.size > 0 %}</a>{% endif %}
      {% include author_list.html authors=award.people %}
      {% endfor %}
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="bestPaperH">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#bestPaper" aria-expanded="true" aria-controls="bestPaper">
        <h2>Best Paper / Honorable Mention Awards</h2>
      </a>
    </h4>
  </div>
  <div id="bestPaper" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="bestPaperH">
    <div class="panel-body">
      {% for pub in sorted_pubs reversed %}
      <div class="row publication-badge">
        <div class="publication-info col-md-10 col-sm-9 col-xs-12">
          <a href="{{ pub.url }}"><b>{{ pub.title }}</b></a>
          <p>{% include author_list.html authors=pub.authors %}<br />
            <i>{{ pub.conference }}</i>{% if pub.award %}, <font color="red">{{ pub.award }}</font>{% endif %}
            <br/>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
