---
layout: page
title: 
redirect_from: /people
---

{% assign sorted_members = site.data.members | sort: 'id' %}
{% assign current_members = sorted_members | where:"status","current" %}
{% assign visiting = sorted_members | where:"status","visiting" %}
{% assign alumni = sorted_members | where:"status","alumni" %}
{% assign master_alumni = sorted_members | where:"status","master_alumni" %}
{% assign ugrad_alumni = sorted_members | where:"status","ugrad_alumni" %}
{% assign faculty = sorted_members | where:"status","shifu" %}
{% assign goel = faculty | first %}

{% assign member = goel %}
<h1>Faculty</h1>
<div class="row">
  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
  </div>
  <div class="member-badge col-md-10 col-sm-9 col-xs-8">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">Mayank Goel is an Assistant Professor in the Institute of Software Research and Human-Computer Interaction Institute in the School of Computer Science. His research interests are in the areas of Human-Computer Interaction, Ubiquitous Computing, Sensing, Signal Processing, and Applications of Machine Learning. He regularly collaborates with mechanical and biomedical engineers as well as doctors, nurses, and community health workers. Some of his inventions are deployed in clinics around the world and licensed to many companies, including Alphabet Inc. and Tandem Launch, Inc. He received his Ph.D. in Computer Science and Engineering from the University of Washington, M.S. in Computer Science from the Georgia Institute of Technology, and B.Tech. in Computer Science and Engineering from GGS Indraprastha University. As a Ph.D. student, Mayank was a recipient of a Donald C Whitworth Fellowship and a Microsoft Research Ph.D. Fellowship.
</div>
<!--      <div class="email">{% if member.email != nil %}<a href="mailto::{{ member.email }}">{{ member.email }}</a>{% endif %}</div>-->
    </div>
  </div>
</div>

<h1>Current Members</h1>
<div class="row">
{% for member in current_members %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
<!--      <div class="email">{% if member.email != nil %}<a href="mailto::{{ member.email }}">{{ member.email }}</a>{% endif %}</div>-->
    </div>
  </div>
{% endfor %}
</div>

<h1>Visiting Researchers</h1>
<div class="row">
{% for member in visiting %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
<!--      <div class="email">{% if member.email != nil %}<a href="mailto::{{ member.email }}">{{ member.email }}</a>{% endif %}</div>-->
    </div>
  </div>
{% endfor %}
</div>

<br/>

<!-- <h1>Former PhD Students</h1>
<div class="row">
{% for member in alumni %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div> -->


<h1>Former Masters Students</h1>

<div class="row">
{% for member in master_alumni %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div>

<h1>Current and Former Undergraduate Students</h1>
<div class="row">
{% for member in ugrad_alumni %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div>