---
layout: page
title: 
redirect_from: /people
---

{% assign sorted_members = site.data.members | sort: 'id' %}
{% assign current_members = sorted_members | where:"status","current" %}
{% assign visiting = sorted_members | where:"status","visiting" %}
{% assign past_collab = sorted_members | where:"status","past_collab" %}
{% assign alumni = sorted_members | where:"status","alumni" %}
{% assign master_alumni = sorted_members | where:"status","master_alumni" %}
{% assign ugrad_alumni = sorted_members | where:"status","ugrad_alumni" %}
{% assign hs_alumni = sorted_members | where:"status","highschool" %}
{% assign faculty = sorted_members | where:"status","shifu" %}
{% assign goel = faculty | first %}

{% assign member = goel %}
<h1>Faculty</h1>
<div class="row">
  <div class="member-badge col-md-3 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
  </div>
  <div class="member-badge col-md-9 col-sm-9 col-xs-8">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation" style="font-size: 11pt">Mayank Goel is an Associate Professor in the Software and Societal Systems Department (S3D) and Human-Computer Interaction Institute (HCII) in the School of Computer Science at CMU. His research interests are in the areas of Human-Computer Interaction, Ubiquitous Computing, Sensing, Signal Processing, and Applications of Machine Learning. He regularly collaborates with mechanical and biomedical engineers as well as doctors, nurses, and community health workers. Some of his inventions are deployed in clinics around the world and licensed to several companies. He received his Ph.D. in Computer Science and Engineering from the University of Washington, M.S. in Computer Science from the Georgia Institute of Technology, and B.Tech. in CSE from GGS Indraprastha University, India. 

</div>
<div class="email" style="padding-top: 10px">{% if member.email != nil %}<span><a href="mailto::{{ member.email }}">{{ member.email }}</a></span>{% endif %} </div>
<!--      <div class="email">{% if member.email != nil %}<a href="mailto::{{ member.email }}">{{ member.email }}</a>{% endif %}</div>-->
    </div>
  </div>
</div>

<h1>Current Ph.D. Students and Collaborators</h1>
<div class="row">
{% for member in current_members %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}
  {% assign degree = member.degree %}

  <div class="member-badge col-md-3 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="degree">{% if member.degree != nil %}{{ degree }}{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
      <div class="email">{% if member.email != nil %}<span><a href="mailto::{{ member.email }}">{{ member.email }}</a></span>{% endif %} </div>
    </div>
  </div>
{% endfor %}
</div>

<!-- <h1>Visiting Researchers</h1>
<div class="row">
{% for member in visiting %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
            <div class="degree">{% if member.degree != nil %}{{ member.degree }}{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
      <div class="email">{% if member.email != nil %}<span><a href="mailto::{{ member.email }}">{{ member.email }}</a></span>{% endif %} </div>
    </div>
  </div>
{% endfor %}
</div> -->

<h1>PhD Alumni</h1>
<div class="row">
{% for member in alumni %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="dissertation">{% if member.dissertation %}<a href="{{ site.url }}{{ member.dissertation }}" class="btn btn-default btn-xs" aria-label="Download PDF">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Ph.D. Dissertation
        </a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div>

<h1>Former Visiting Researchers and Collaborators</h1>
<div class="row">
{% for member in past_collab %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="image">{% if member.website != nil %}<a href="{{ member.website }}">{% endif %}<img src="{{site.url}}{{member.image}}"/>{% if member.website != nil %}</a>{% endif %}</div>
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
            <div class="degree">{% if member.degree != nil %}{{ member.degree }}{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
      <div class="email">{% if member.email != nil %}<span><a href="mailto::{{ member.email }}">{{ member.email }}</a></span>{% endif %} </div>
    </div>
  </div>
{% endfor %}
</div>

<br/>




<h1>Former Masters Students</h1>

<div class="row">
{% for member in master_alumni %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div>

<h1>Former Undergraduate Students</h1>
<div class="row">
{% for member in ugrad_alumni %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

  <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ affiliation }}{% endif %}</div>
    </div>
  </div>
{% endfor %}
</div>


<h1>Former Highschool Students</h1>
<div class="row">
{% for member in hs_alumni %}
  {% assign affiliation = site.data.affiliations[member.affiliation] %}

 <div class="member-badge col-md-2 col-sm-3 col-xs-4">
    <div class="details">
      <div class="name">{% if member.website == nil %}{{ member.name }}{% else %}<a href="{{ member.website }}">{{ member.name }}</a>{% endif %}</div>
            <div class="degree">{% if member.degree != nil %}{{ member.degree }}{% endif %}</div>
      <div class="affiliation">{% if member.affiliation != nil %}{{ member.affiliation }}{% endif %}</div>
      <div class="email">{% if member.email != nil %}<span><a href="mailto::{{ member.email }}">{{ member.email }}</a></span>{% endif %} </div>
    </div>
  </div>
{% endfor %}
</div>
